/*Begin of reset code*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-size: 25px;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of reset code*/

/*Start of websitee code*/

/*Start of code used on multiple pages*/
#maindiv {
	width: 1280px;
	height: 4300px;
	margin: 0 auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background: darkblue;
}

.dividerimg {
	width: 1280px;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 30px;
	text-align: center;
	padding: 24px;
}

h2 {
	font-size: 30px;
	padding: 20px;
	padding-bottom: 0px;
	text-align: center;
}

h3 {
	font-size: 30px;
	padding: 24px;
}

p {
	padding: 24px;
}

/*Start of nav code*/

#colorButton {
	width: 150px;
	height: 130px;
	float: right;
	margin: 5px;
	margin-top: 20px;
	padding: 0px;

}

#colorImg {
	width: 130px;
	height: 120px;
	margin: 0px;
	padding: 0px;
}

#colorButton2 {
	width: 150px;
	height: 130px;
	float: right;
	margin: 5px;
	margin-top: 20px;
	padding: 0px;

}

#colorImg2 {
	width: 130px;
	height: 120px;
	margin: 0px;
	padding: 0px;
}

#navdiv {
	width: 1280px;
	height: 100px;
	background-color: darkblue;
	padding-top: 50px;
	display: block;
	margin: 0 auto;
	align-content: center;
	text-align: center;
}

#navdiv li {
	color: darkblue;
	background-color: white;
	width: 160px;
	padding: 30px;

	border: 3px solid black;
	display: inline-block;

}

#navdiv a {
	color: darkblue;
	font-size: 24px;
	display: inline-block;
	text-decoration: none;
}

#navdiv a:hover {
	color: black;
}

.dividerimg {
	grid-area: div;
}

/*End of nav code*/


/*Start of header code*/

#headerdiv {
	width: 1280px;
	height: 300px;
	background-color: darkblue;
	font-size: 30px;
	padding-top: 3%;
	align-content: center;
}

#headerdiv a {
	width: 1280px;
	color: white;
	background-color: darkblue;
	padding-top: 33px;
	padding-bottom: 24px;
	text-decoration: none;
	border: 1px solid white;
	pointer-events: none;
	cursor: default;
	display: inline-block;
	text-align: center;
}


#headerimg {
	padding-top: 0px;
	padding-bottom: 0px;
	width: 1280px;
	height: auto;
	display: inline-block;
	text-align: center;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

/*End of header code*/

/*Start of map code*/
#mapdiv {
	display: grid;
	grid-template-areas:
		'div div'
		'h2 h2'
		'map entrance'
}

#mapdiv h2:first-child {
	padding-top: 20px;
	grid-area: h2;
}

#mapdiv h2:last-child {
	padding-top: 20px;
	grid-area: h2;
}

#mapimg {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 500px;
	display: block;
	text-align: center;
	align-content: center;
	border: black 3px solid;
	grid-area: map;
}

#entranceimg {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 500px;
	display: block;
	text-align: center;
	align-content: center;
	border: black 3px solid;
	grid-area: entrance;
}

/*End of map code*/

/*Start of footer code*/
footer {
	margin-top: 20px;
	width: 1280px;
	padding-top: 6px;
	padding-bottom: 6px;
	bottom: 0;
	left: 0;
	font-size: 20px;
}

footer p {
	padding: 6px;
}

/*End of footer code*/

/*End of code used on multiple pages*/


/*Start of code for Units*/

#unitsdiv {
	display: grid;
	grid-template-areas:
		'div div'
		'h2 h2'
		'img aptdiv'
		'nav nav';
}

#unitsdiv h2 {
	padding-top: 20px;
	grid-area: h2;
}


#apartmentimg {
	width: 800px;
	height: 600px;
	padding: 20px;
	display: block;
	grid-area: img;

}

#aptdiv {
	width: 400px;
	padding: 10px;
	display: block;
	grid-area: aptdiv;
}

#navunit {
	width: 1080px;
	height: 100px;
	padding: 20px;
	padding-left: 100px;
	padding-right: 100px;
	grid-area: nav;
}

#navunit li {
	color: darkblue;
	background-color: white;
	width: 150px;
	padding: 30px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	display: inline-block;
	text-align: center;

}

#navunit a {
	color: darkblue;
	font-size: 30px;
	display: inline-block;
	text-decoration: none;
}

#navunit a:hover {
	color: black;
}

/*End of code for Units*/

/*Start of code for Contact Us*/
/*Start of form code*/
#formdiv {
	padding-top: 12px;
}

form {
	margin-left: 300px;
}


input {
	display: block;
	width: 680px;
	height: 60px;
	margin-bottom: 24px;
	border-radius: 5px;
	border: 1px inset grey;
	font-size: 30px;
	margin-top: 24px;
}

select {
	display: block;
	margin-bottom: 24px;
	margin-top: 24px;
}

fieldset {
	width: 1280px;
	border-radius: 10px;
}

#myZip {
	width: 680px;
}

form legend {
	color: white;
}

#myState {
	font-size: 30px;
	width: 680px;
	height: 65px;

}

#prefEmail,
#prefPhone {
	display: inline;
	width: 70px;
	height: 30px;
}

#label-block {
	display: block;
	margin-top: 12px;
}

textarea {
	border-radius: 5px;
}

#myReset,
#mySubmit {
	width: 340px;
	height: 150px;
	display: inline;
	font-size: 30px;
}

#myComments {
	font-size: 30px;
	width: 680px;
}